@use "./styles/variables" as *;

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: $color-bg;
  color: $color-text;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.app__main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;

  @media (min-width: 768px) {
    padding: 32px;
  }
}
